<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CYLTimePicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D04B18B1EFB9F0F00441CC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D04B1A41EFB9F0F00441CC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D04B1AF1EFB9F0F00441CC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
