<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lottery.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4EF82F071E4835AB00054DDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EF82F1B1E4835AB00054DDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EF82F261E4835AC00054DDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
