<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CYLFloutBtn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D661A0A1F01F1F700650177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D661A1E1F01F1F800650177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D661A291F01F1F800650177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
